{% extends "base.html" %}


{% block content %}
<form>
  <div class="form-row align-items-center">
    <div class="col">
      <input id="keyword" type="text" class="form-control" placeholder="User, Keyword, Engine name,Keyword Language">
    </div>
    <div class="col-auto my-1" style="width:150px">
      <select id="search_keyword" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>All Keywords</option>
        {% for sk in search_keywords %}
        <option value="{{ sk.search_keyword }}">{{ sk.search_keyword }}- ({{ sk.count }})</option>
        {% endfor %}
      </select>
    </div>
        <div class="col-auto my-1">
      <select id="user" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>All User</option>
        {% for user in users %}
        <option >{{ user.user }}</option>
        {% endfor %}
      </select>
    </div>
            <div class="col-auto my-1">
      <select id="range" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Time Range</option>
        <option value="1"> See data from yesterday</option>
        <option value="2">See data from last week</option>
        <option value="3">See data from last month </option>
      </select>
    </div>
    
        Select Date:&nbsp;&nbsp;  <input style="width:110px" id="start_date" type="date"/>  <input style="width:110px" id="end_date" type="date" />

    <div class="col-auto my-1">
      <button id="submit_button" type="button" class="btn btn-primary">Filter</button>
    </div>
  </div>
</form>

<table id="history_table" class="table table-hover table-dark table-sm">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">User</th>
      <th scope="col">Search Keyword</th>
      <th scope="col">Search Time</th>
      <th scope="col">Search Engine_name</th>
      <th scope="col">Search Keyword Language</th>
      <th scope="col"> Result </th>
    </tr>
  </thead>

  <tbody>
    {% for history in search_history_all_obj %}
    <tr>
      <th scope="row"> {{ forloop.counter }} </th>
      <td>{{ history.user }}</td>
      <td>{{ history.search_keyword }}</td>
      <td>{{ history.search_time }}</td>
      <td>{{ history.search_engine_name }}</td>
      <td>{{ history.search_keyword_language }}</td>
      <td>{{ history.result }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}




{% block javascript %}
<script>

$( "#submit_button" ).click(function() {

    var query = $('#keyword').val();
    var s_keyword= $("#search_keyword option:selected").val();
    if (s_keyword === 'All Keywords'){
        s_keyword= false
    }

    var user_name= $("#user option:selected").text();
    if (user_name === 'All User'){
        user_name= false
    }

    var range= $("#range option:selected").val();
    if (range === 'Time Range'){
        range= false
    }

    var start_date= $("#start_date").val();
    var end_date= $("#end_date").val();

    //ensure declere both date start and end
    if (start_date){
      if (!end_date){
        return alert('select end date')
      }
    }

  //jqueryajax call
  $.ajax({
    type: 'POST',
    url: '{% url "filter_search:user_search_history" %}',
    data: {
        any_value_search: query,
        start: start_date,
        end: end_date,
        keyword: s_keyword,
        user: user_name,
        range: range
    },
    success: function (data) {
       var content = '';
            //content += '<tbody>'; -- **superfluous**
        for (var i = 0; i < data.length; i++) {
            content+= '<tr>'
            content+= '<th scope="row">' +(i+1)+'</th>'
            content+= '<td>'+ data[i].user +'</td>'
            content+= '<td>'+ data[i].search_keyword +'</td>'
            content+= '<td>'+ data[i].search_time +'</td>'
            content+= '<td>'+ data[i].search_engine_name +'</td>'
            content+= '<td>'+ data[i].search_keyword_language +'</td>'
            content+= '<td>'+ data[i].result +'</td>'
            content+= "</tr>"
        }
        $('#history_table tbody').empty();
        $('#history_table tbody').html(content);
    }
});
});
</script>

{% endblock %}
